body{
    width : 60%;
  margin-left : 450px;
  margin-top : 5px;
  padding : 10px  30px;
  /* height :500px; */
  filter : opacity(0.85); 
  background-color:#d4e2d4;
  box-shadow: 0 0 20px #3b064d;
  /* size: 20px; */
}
