



<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form>
        <div class="form-group">
          <label >Student Id </label>
          <input type="text"  class="form-control" placeholder="Student Id">
        </div>

        <div class="form-group">
            <label >Points Based on Performance</label>
            <input type="number"  class="form-control" placeholder="Points">
          </div>
      
    
      
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


</body>
</html>
