<input type="button" value="Home" (click)="homepage()" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/trainerdashboard',{outlets: {'trainer': ['trainerinfo']}}]"> Trainer Info</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/trainerdashboard',{outlets: {'trainer': ['list']}}]">List Of Students </a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/trainerdashboard',{outlets: {'trainer': ['acrej']}}]"> Accept or Reject</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/trainerdashboard',{outlets: {'trainer': ['updatepoints']}}]"> Update Points</a> 
<router-outlet name='trainer'></router-outlet>
