 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Open+Sans:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
<body >

     <div class="body1 ">
         
 <nav class="navbar navbar-expand-lg  navbar-dark nav-padding-left sticky-top ">
    <a class="navbar-brand logo" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" pageScroll  href="#intro">Intro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" pageScroll  href="#minimal-statistics">Our Team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" pageScroll  href="#features">Our Motto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" pageScroll  href="#stats-subtitle">Achievements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" pageScroll href="#footer1">Contact us</a>
            </li>
        </ul>

        
    </div>
</nav>


<div  id = "intro"class="para ">
    <div class="img-para fs-6">

   
<p class="fs-4">
Avant Garde Sports Club was formed in 1998 in a small scale with 10 boys and one coach.
The number and participants rose to 25 and two coaches respectively.
In the subsequent years, many participants were enrolled and additional coaches were engaged.
Today the coaching is being conducted at Race Course and Chekpauk   Ground, Chennai.
The strength of the Academy has gone up and coaching being given by 15 coaches who have played sports in all level.
Scientific coaching methods are being given for physical exercises. More than 600 players have been trained since its inception. Many players have represented higher level of game
Discipline is the sole motto of the Academy. The players are being taught to the art of living and helping the needy.
Many state level players have come to the academy and appreciated the activities which is an unique feature.
Many plans are ahead to produce laurels.
In addition to the coaching activities, the boys are playing in the various league matches of Tamilnadu  Sports Association and National Sports Association.
Steps are being taken to inculcate good knowledge of the game.
    </p>



</div>
     </div>

<section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">OUR TEAM</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="far fa-clock primary font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>1998</h3>
                  <span>Since</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    <div class="captain"> <span class="captain"> </span></div>
                  <i class="captain fas fa-walking warning font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>35</h3>
                  <span>coaches</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    
                  <i class=" fas fa-male success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>126</h3>
                  <span>no. of Players</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pointer danger font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>10</h3>
                  <span>No. of sports</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--
  end of  card 1
-->

<section id="features">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
          <h1 class="text-uppercase">Our Motto</h1>
          <!-- <p>Statistics on minimal cards with Title &amp; Sub Title.</p> -->
        </div>
      </div>
    
    <div class="row">
        <div class="feature-section col-lg-4">
            <i class="fas fa-check-circle feature-icon fa-5x "></i>
            <h3>Aim</h3>
       
        </div>
        <div class="feature-section col-lg-4">
            <i class="fas fa-bullseye feature-icon fa-5x"></i>
            <h3>target</h3>
           
        </div>
        <div class="feature-section col-lg-4">
            <i class="fas fa-heart feature-icon fa-5x"></i>
            <h3>Achieve</h3>
        
        </div>
    </div>
</section>



<!-- card 2 -->
<section id="stats-subtitle">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Achievements</h4>
        <!-- <p>Statistics on minimal cards with Title &amp; Sub Title.</p> -->
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-md-12">
        <div class="card overflow-hidden">
          <div class="card-content">
            <div class="card-body cleartfix">
              <div class="media align-items-stretch">
                <div class="align-self-center">
                  <i class="fas fa-trophy primary font-large-2 mr-2"></i>
                </div>
                <div class="media-body">
                  <h4>Awards</h4>
                  <span>won </span>
                </div>
                <div class="align-self-center">
                  <h1>45</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-6 col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body cleartfix">
              <div class="media align-items-stretch">
                <div class="align-self-center">
                  <i class="fas fa-crown warning font-large-2 mr-2"></i>
                </div>
                <div class="media-body">
                  <h4>International </h4>
                  <span>Players</span>
                </div>
                <div class="align-self-center"> 
                  <h1>6</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body cleartfix">
              <div class="media align-items-stretch">
                <div class="align-self-center">
                  <h1 class="mr-2">25</h1>
                </div>
                <div class="media-body">
                  <h4>National </h4>
                  <span>Players</span>
                </div>
                <div class="align-self-center">
                  <i class="fas fa-award danger font-large-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-6 col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body cleartfix">
              <div class="media align-items-stretch">
                <div class="align-self-center">
                  <h1 class="mr-2">$36,000.00</h1>
                </div>
                <div class="media-body">
                  <h4>Rewards</h4>
                  <span>Won</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-wallet success font-large-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer1">

    <span class=footer-icon><a href="#"><i class="fab fa-twitter footer-icon fa-2x"></i></a></span>
    <span class=footer-icon><a href="#"><i class="fab fa-facebook-f footer-icon fa-2x"></i></a></span>
    <span class=footer-icon> <a href="#"><i class="fab fa-instagram fa-2x footer-icon"></i></a></span>
    <span class=footer-icon><a href="#"><i class="fas fa-envelope footer-icon fa-2x"></i></a></span>


    <p>© Copyright 2020 Sparkz Sports Club  </p>
</footer>
</div>
</body>